.UpdateProfileInfo #input-files{ 
   
    display: none;
}
.UpdateProfileInfo #input-image{
    padding: 10px;
    background-color: rgb(42, 163, 135);
    max-width: 300px;
    max-height: 50px;
}

.UpdateProfileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.UpdateProfileInfo button{
    max-width: 300px;
}
.UpdateProfileInfo .bg-color-purple{
    background-color: rgb(175, 160, 252);
}
.UpdateProfileInfo p{
    font-weight: bold;
}
.UpdateProfileInfo .color-text{
    color:rgb(42, 163, 135);
}
