
.Login .bg-color{
    background-color: rgb(42, 163, 135);
}
.Login .color-text{
    color: rgb(42, 163, 135);
}
.Login .input-username{
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}
.Login .input-password{
    border-radius: 0px 0px 10px 10px;
}
#login-image{
    width: 100vw;
    max-width: 600px;
}
@media (min-width: 600px){
    #login-image{
        margin: 20px;
        border-radius: 15px;
    }
    .Login p{
        font-size: 20px;
    }
    .Login button{
        font-size: 20px;
    }
    .Login input{
        height: 50px;
        font-size: 20px;
    }

}
