
.Login .bg-color{
    background-color: rgb(42, 163, 135);
}
.Login .color-text{
    color: rgb(42, 163, 135);
}
.Login .input-username{
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    width: 298px;

}
.Login .input-password{
    border-radius: 0px 0px 10px 10px;
    width: 298px;
}
.Login i{
    font-size: 18px;
}
#login-image{
    width: 100vw;
    max-width: 500px;
    max-height: 500px;
    
}

.login-eye-input{
    border-width: 1px 0px 1px 1px
}

.login-eye{
    background-color: white;
    border-width: 1px 1px 1px 0px
}
    


.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 0px;
    margin-left: -25px;
    background-color: white;
    width: 50px;
    text-align: center;
}

.hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media (min-width: 600px){
    #login-image{
        margin: 20px;
        border-radius: 15px;
    }
    .Login p{
        font-size: 20px;
    }
    .Login button{
        font-size: 20px;
    }
    .Login input{
        height: 50px;
        font-size: 20px;
    }
    .Login .input-username{
        width: 472px;
    
    }
    .Login .input-password{
        width: 472px;
    
    }
    .Login i{
        font-size: 30px;
    }
}
