.button-follow{
    color: black;
}
.button-follow:hover{
    color: rgb(42, 163, 135);
}
.button-unfollow{
    color: rgb(42, 163, 135);
}
.button-unfollow:hover{
    color: black;
}

.search-user{
    border-radius: 12px;
    border-width: 1px 0px 1px 1px
 }
