.UserIconsCol .icon {
    font-size: 12px;
    /* padding: 8px; */
    color: white;
    background-color: rgb(175, 160, 252);
    border-radius: 15px;
}

.UserIconsCol a{
    color: black;
}
.UserIconsCol a :hover{
    background-color: rgb(175, 160, 252);
   border-radius: 15px;
}