.CategoriesResults{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin: 10px;
    margin-top: 52px;
}
@media (min-width: 700px){
    .CategoriesResults{
        width: 250px;
        height: 250px;
        margin-top: 100px;
    }
    .CategoriesResults p {
        font-size: 28px;
    }
}