
.ProfilePage a{
    color: black;
}
.ProfilePage a :hover{
    background-color: rgb(175, 160, 252);
   border-radius: 15px;
}

.ProfilePage .profile-card {
    box-shadow: 0px 0px 4px -2px #000000;
    border-radius: 15px;
    /* width: 300px; */
}
.ProfilePage .profile-card  p{
    margin: 10x;
    padding: 10px 30px 10px 30px
}

