
nav{
  box-shadow: 0px 0px 8px -2px #000000;
  
}
a:hover{
  color: black !important;
}
a.dropdown-item.active{
background-color:white;
}
#avatar-image{
  width: 50px;

}

@media (min-width: 992px){
  nav{
    font-size: 22px;
  }
}