a:-webkit-any-link {
    text-decoration:  none;
 }

.Card1{
    box-shadow: 0px 0px 8px -2px #000000;
    width: 150px;
    height: 150px;
    /* margin-top: 52px; */
    border-radius: 15px;
    
}
.card-img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}
.Card1 button{
    border: none;
    background: none;
    height: 150px;
}
.link-Card1{
    text-decoration: none;
}

@media (min-width: 700px){
    .Card1{
        width: 250px;
        height: 250px;
    }
    .Card1 p {
        font-size: 28px;
    }
    .Card1 button{
        height: 300px;
        width: 300px;
    }
}

   